/**
 * This file was auto-generated by Fern from our API Definition.
 */
package com.auth0.client.mgmt;

import com.auth0.client.mgmt.core.ClientOptions;
import com.auth0.client.mgmt.core.Environment;
import com.auth0.client.mgmt.core.OAuthTokenSupplier;
import java.util.HashMap;
import java.util.Map;
import java.util.Optional;
import java.util.function.Supplier;
import okhttp3.OkHttpClient;

public class ManagementApiBuilder {
    private Optional<Integer> timeout = Optional.empty();

    private Optional<Integer> maxRetries = Optional.empty();

    private final Map<String, String> customHeaders = new HashMap<>();

    private String token = null;

    private Environment environment = Environment.DEFAULT;

    private OkHttpClient httpClient;

    // Domain-based initialization fields
    private String domain = null;
    private String clientId = null;
    private String clientSecret = null;
    private String audience = null;

    /**
     * Sets token
     */
    public ManagementApiBuilder token(String token) {
        this.token = token;
        return this;
    }

    public ManagementApiBuilder environment(Environment environment) {
        this.environment = environment;
        return this;
    }

    public ManagementApiBuilder url(String url) {
        this.environment = Environment.custom(url);
        return this;
    }

    /**
     * Sets the Auth0 domain for the client.
     * This will automatically construct the Management API URL as https://{domain}/api/v2
     *
     * <p>Example:
     * <pre>{@code
     * ManagementApi client = ManagementApi.builder()
     *     .domain("your-tenant.auth0.com")
     *     .clientCredentials("clientId", "clientSecret")
     *     .build();
     * }</pre>
     *
     * @param domain The Auth0 domain (e.g., "your-tenant.auth0.com")
     * @return This builder for method chaining
     */
    public ManagementApiBuilder domain(String domain) {
        this.domain = domain;
        return this;
    }

    /**
     * Sets OAuth client credentials for automatic token management.
     * When using client credentials, the SDK will automatically fetch and cache
     * access tokens, refreshing them before expiry.
     *
     * <p>This is the recommended authentication method for server-to-server
     * applications using the client credentials grant.
     *
     * <p>Example:
     * <pre>{@code
     * ManagementApi client = ManagementApi.builder()
     *     .domain("your-tenant.auth0.com")
     *     .clientCredentials("your-client-id", "your-client-secret")
     *     .build();
     * }</pre>
     *
     * @param clientId The OAuth client ID
     * @param clientSecret The OAuth client secret
     * @return This builder for method chaining
     */
    public ManagementApiBuilder clientCredentials(String clientId, String clientSecret) {
        this.clientId = clientId;
        this.clientSecret = clientSecret;
        return this;
    }

    /**
     * Sets a custom audience for the OAuth token request.
     * If not specified, defaults to https://{domain}/api/v2/
     *
     * @param audience The API audience for the token request
     * @return This builder for method chaining
     */
    public ManagementApiBuilder audience(String audience) {
        this.audience = audience;
        return this;
    }

    /**
     * Sets the timeout (in seconds) for the client. Defaults to 60 seconds.
     */
    public ManagementApiBuilder timeout(int timeout) {
        this.timeout = Optional.of(timeout);
        return this;
    }

    /**
     * Sets the maximum number of retries for the client. Defaults to 2 retries.
     */
    public ManagementApiBuilder maxRetries(int maxRetries) {
        this.maxRetries = Optional.of(maxRetries);
        return this;
    }

    /**
     * Sets the underlying OkHttp client
     */
    public ManagementApiBuilder httpClient(OkHttpClient httpClient) {
        this.httpClient = httpClient;
        return this;
    }

    /**
     * Add a custom header to be sent with all requests.
     * For headers that need to be computed dynamically or conditionally, use the setAdditional() method override instead.
     *
     * @param name The header name
     * @param value The header value
     * @return This builder for method chaining
     */
    public ManagementApiBuilder addHeader(String name, String value) {
        this.customHeaders.put(name, value);
        return this;
    }

    protected ClientOptions buildClientOptions() {
        ClientOptions.Builder builder = ClientOptions.builder();
        setEnvironment(builder);
        setAuthentication(builder);
        setHttpClient(builder);
        setTimeouts(builder);
        setRetries(builder);
        for (Map.Entry<String, String> header : this.customHeaders.entrySet()) {
            builder.addHeader(header.getKey(), header.getValue());
        }
        setAdditional(builder);
        return builder.build();
    }

    /**
     * Sets the environment configuration for the client.
     * When domain is set, constructs the URL as https://{domain}/api/v2
     * Otherwise uses the environment or url() configuration.
     *
     * @param builder The ClientOptions.Builder to configure
     */
    protected void setEnvironment(ClientOptions.Builder builder) {
        if (this.domain != null) {
            String url = "https://" + this.domain + "/api/v2";
            builder.environment(Environment.custom(url));
        } else {
            builder.environment(this.environment);
        }
    }

    /**
     * Returns the base URL for OAuth token requests.
     * This is used internally by setAuthentication() to configure the OAuthTokenSupplier.
     *
     * @return The base URL (e.g., "https://your-tenant.auth0.com")
     */
    protected String getBaseUrl() {
        if (this.domain != null) {
            return "https://" + this.domain;
        }
        // Extract base URL from environment URL by removing /api/v2 suffix
        String envUrl = this.environment.getUrl();
        if (envUrl.endsWith("/api/v2")) {
            return envUrl.substring(0, envUrl.length() - 7);
        }
        return envUrl;
    }

    /**
     * Sets up authentication for the client.
     * Supports both static token authentication and OAuth client credentials.
     *
     * <p>When client credentials are configured, creates an OAuthTokenSupplier that
     * automatically fetches and caches access tokens, refreshing them before expiry.
     *
     * @param builder The ClientOptions.Builder to configure
     */
    protected void setAuthentication(ClientOptions.Builder builder) {
        if (this.clientId != null && this.clientSecret != null) {
            // OAuth client credentials flow with automatic token management
            String baseUrl = getBaseUrl();
            String aud = this.audience != null ? this.audience : baseUrl + "/api/v2/";

            OAuthTokenSupplier tokenSupplier = new OAuthTokenSupplier(this.clientId, this.clientSecret, baseUrl, aud);

            builder.addHeader("Authorization", (Supplier<String>) () -> "Bearer " + tokenSupplier.get());
        } else if (this.token != null) {
            // Static token authentication
            builder.addHeader("Authorization", "Bearer " + this.token);
        }
    }

    /**
     * Sets the request timeout configuration.
     * Override this method to customize timeout behavior.
     *
     * @param builder The ClientOptions.Builder to configure
     */
    protected void setTimeouts(ClientOptions.Builder builder) {
        if (this.timeout.isPresent()) {
            builder.timeout(this.timeout.get());
        }
    }

    /**
     * Sets the retry configuration for failed requests.
     * Override this method to implement custom retry strategies.
     *
     * @param builder The ClientOptions.Builder to configure
     */
    protected void setRetries(ClientOptions.Builder builder) {
        if (this.maxRetries.isPresent()) {
            builder.maxRetries(this.maxRetries.get());
        }
    }

    /**
     * Sets the OkHttp client configuration.
     * Override this method to customize HTTP client behavior (interceptors, connection pools, etc).
     *
     * @param builder The ClientOptions.Builder to configure
     */
    protected void setHttpClient(ClientOptions.Builder builder) {
        if (this.httpClient != null) {
            builder.httpClient(this.httpClient);
        }
    }

    /**
     * Override this method to add any additional configuration to the client.
     * This method is called at the end of the configuration chain, allowing you to add
     * custom headers, modify settings, or perform any other client customization.
     *
     * @param builder The ClientOptions.Builder to configure
     *
     * Example:
     * <pre>{@code
     * &#64;Override
     * protected void setAdditional(ClientOptions.Builder builder) {
     *     builder.addHeader("X-Request-ID", () -&gt; UUID.randomUUID().toString());
     *     builder.addHeader("X-Client-Version", "1.0.0");
     * }
     * }</pre>
     */
    protected void setAdditional(ClientOptions.Builder builder) {}

    /**
     * Override this method to add custom validation logic before the client is built.
     * This method is called at the beginning of the build() method to ensure the configuration is valid.
     * Throw an exception to prevent client creation if validation fails.
     *
     * Example:
     * <pre>{@code
     * &#64;Override
     * protected void validateConfiguration() {
     *     super.validateConfiguration(); // Run parent validations
     *     if (tenantId == null || tenantId.isEmpty()) {
     *         throw new IllegalStateException("tenantId is required");
     *     }
     * }
     * }</pre>
     */
    protected void validateConfiguration() {}

    /**
     * Builds the ManagementApi client with the configured options.
     *
     * <p>Requires either:
     * <ul>
     *   <li>A static token via {@link #token(String)}, OR</li>
     *   <li>OAuth client credentials via {@link #clientCredentials(String, String)}</li>
     * </ul>
     *
     * <p>The API URL can be configured via:
     * <ul>
     *   <li>{@link #domain(String)} - recommended, automatically constructs the URL</li>
     *   <li>{@link #url(String)} - full URL specification</li>
     *   <li>{@link #environment(Environment)} - environment-based configuration</li>
     * </ul>
     *
     * @return A configured ManagementApi client instance
     * @throws RuntimeException if authentication is not configured
     */
    public ManagementApi build() {
        // Validate authentication: require either token OR clientCredentials
        boolean hasToken = this.token != null;
        boolean hasClientCredentials = this.clientId != null && this.clientSecret != null;

        if (!hasToken && !hasClientCredentials) {
            throw new RuntimeException(
                    "Please provide authentication: either token() or clientCredentials(clientId, clientSecret)");
        }

        // Validate that if clientId is provided, clientSecret is also provided
        if (this.clientId != null && this.clientSecret == null) {
            throw new RuntimeException("clientSecret is required when using clientCredentials");
        }

        validateConfiguration();
        return new ManagementApi(buildClientOptions());
    }
}
