name: auth0/auth0-java/build-and-test

on:
  pull_request:
  merge_group:
  push:
    branches: ["master", "main", "v1"]

jobs:
  gradle:
    runs-on:  ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 8
      - uses: gradle/gradle-build-action@b5126f31dbc19dd434c3269bf8c28c315e121da2
        with:
          arguments: assemble apiDiff check jacocoTestReport --continue --console=plain
      - uses: codecov/codecov-action@eaaf4bedf32dbdc6b720b63067d99c4d77d6047d
        with:
          flags: unittests
      - uses: actions/upload-artifact@v3
        with:
          name: Reports
          path: build/reports
