name: auth0/auth0-java/build-and-test

on:
  pull_request:
  merge_group:
  push:
    branches: ["master", "main", "v3"]

jobs:
  gradle:
    runs-on:  ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 8

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0

      - name: Test and Assemble with Gradle
        run: ./gradlew assemble check --continue --console=plain

      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          flags: unittests
      - uses: actions/upload-artifact@v5
        with:
          name: Reports
          path: build/reports
