name: auth0/auth0-java/build-and-test

on:
  pull_request:
  merge_group:
  push:
    branches: ["master", "main", "v1"]

jobs:
  gradle:
    runs-on:  ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 8
      - uses: gradle/gradle-build-action@29c0906b64b8fc82467890bfb7a0a7ef34bda89e
        with:
          arguments: assemble apiDiff check jacocoTestReport --continue --console=plain
      - uses: codecov/codecov-action@84508663e988701840491b86de86b666e8a86bed
        with:
          flags: unittests
      - uses: actions/upload-artifact@v4
        with:
          name: Reports
          path: build/reports
